/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
}

.title {
    background-color: #000000;
    margin: 15px auto 10px;
    max-width: 40%;
    font-family: 'Limelight', cursive;
}


.card {
    background-color: #000000;
    max-width: 300px;
    padding: 15px;
    margin: auto;
}

.input-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}



input[type=number]{
    width: 20%;
}

.result-div {
    margin: 10px 0;
}

.result-text {
    margin: 10px;
}

.fas, .far {
    margin-left: 5px;
    font-size: 1.3rem;
}

.fa-fire {
    color: red;
}

.fa-sun {
    color: #ffd900;
}

.fa-snowflake {
    color: #009dff;
}

.fa-icicles {
    color: #00d0ff;
}

.btn {
    color: white;
    padding: 5px;
    margin: 0 10px;
    background-color: #007bff;
    cursor: pointer;
    border: none;
    border-radius: 10%;
}